<launch>
    <rosparam command="load" file="$(find pendulum_control)/config/param_server.yaml" />
    <group ns='bottom'>
        <node
            pkg="ethercat_ros_configurator"
            type="convert_units_read.py"
            name="convert_units_read_bottom"
            output="screen"
        />
        <node
            pkg="ethercat_ros_configurator"
            type="convert_units_write.py"
            name="convert_units_write_bottom"
            output="screen"
        />
    </group>
    <group ns='top'>
        <node
            pkg="ethercat_ros_configurator"
            type="convert_units_read.py"
            name="convert_units_read_top"
            output="screen"
        />
        <node
            pkg="ethercat_ros_configurator"
            type="convert_units_write.py"
            name="convert_units_write_top"
            output="screen"
        />
    </group>
</launch>
