<launch>
    <rosparam command="load" file="$(find pendulum_control)/config/param_server.yaml" />
    <node 
        pkg="ethercat_ros_configurator" 
        type="ethercat_ros_node" 
        name="ethercat_ros_node" 
        output="screen"
        args="$(find ethercat_ros_configurator)/config/setup.yaml"        
        launch-prefix="ethercat_grant"
    />
</launch>
