<!-- Launch file to start the test_reference_generator node -->
<launch>
<!-- MAXON -->
    <node name="test_ref_generator_m1" pkg="ethercat_ros_configurator" type="test_reference_generator.py" output="screen">
        <param name="command_topic" value="/ethercat_master/maxon_test_motor/command" type="string"/>
        <param name="status_topic" value="/ethercat_master/maxon_test_motor/reading" type="string"/>
        <param name="signal" value="sine" type="string"/>
        <param name="name" value="maxon_test" type="string"/>
        <param name="frequency" value="1" type="double"/>
        <param name="sample_rate" value="100" type="double"/>
        <param name="amplitude" value="8000" type="double" />
        <param name="amplitude_limit_min" value="-100000" type="double"/>
        <param name="amplitude_limit_max" value="100000" type="double"/>
        <param name="offset" value="2000" type="double"/>
        <param name="phase_shift" value="0.0" type="double"/>
        <param name="duration" value="5.0" type="double"/>
        <param name="plot" value="true" type="bool"/>
        <param name="save_data" value="true" type="bool"/>
        <param name="save_data_path" value="$(find ethercat_ros_configurator)/test_data" type="string"/>
        <param name="op_mode" value="9" type="int"/>
    </node>

    <!-- ranges -->
    <!-- op_mode: 8 = cyclic synchronous position , 9 = cyclic synchronous velocity , 10 = cyclic synchronous torque -->
    <!-- position: doesn't matter but 1 revolution is a bit over 100000 -->
    <!-- velocity: -12000 to 12000 -->
    <!-- torque (not sure, but this is safe): -100 to 100 -->

<!-- NANOTEC -->
    <!-- <node name="test_ref_generator_m1" pkg="ethercat_ros_configurator" type="test_reference_generator.py" output="screen">
        <param name="command_topic" value="/ethercat_master/Nanotec_Motor_1/command" type="string"/>
        <param name="status_topic" value="/ethercat_master/Nanotec_Motor_1/reading" type="string"/>
        Available signal types:
            1. sine
            2. sawtooth
            3. square
            4. triangle
            5. smoothstep
            6. custom
        <param name="signal" value="sine" type="string"/>
        <param name="name" value="nanotec_motor1" type="string"/>
        <param name="frequency" value="1" type="double"/>
        <param name="sample_rate" value="100" type="double"/>
        <param name="amplitude" value="1000" type="double" />
        <param name="amplitude_limit_min" value="200" type="double"/>
        <param name="amplitude_limit_max" value="3000" type="double"/>
        <param name="offset" value="1800" type="double"/>
        <param name="phase_shift" value="0.0" type="double"/>
        <param name="duration" value="3.0" type="double"/>
        <param name="plot" value="true" type="bool"/>
        <param name="plot_dpi" value="400" type="int"/>
        <param name="save_data" value="true" type="bool"/>
        <param name="save_data_path" value="$(find ethercat_ros_configurator)/test_data" type="string"/>
    </node> -->

    <!-- <node name="test_ref_generator_m2" pkg="ethercat_ros_configurator" type="test_reference_generator.py" output="screen">
        <param name="command_topic" value="/ethercat_master/Nanotec_Motor_2/command" type="string"/>
        <param name="status_topic" value="/ethercat_master/Nanotec_Motor_2/reading" type="string"/>
        <param name="signal" value="sawtooth" type="string"/>
        <param name="name" value="nanotec_motor2" type="string"/>
        <param name="frequency" value="1" type="double"/>
        <param name="sample_rate" value="100" type="double"/>
        <param name="amplitude" value="1000" type="double" />
        <param name="amplitude_limit_min" value="200" type="double"/>
        <param name="amplitude_limit_max" value="3000" type="double"/>
        <param name="offset" value="1800" type="double"/>
        <param name="phase_shift" value="0.0" type="double"/>
        <param name="duration" value="3.0" type="double"/>
        <param name="plot" value="true" type="bool"/>
        <param name="plot_dpi" value="400" type="int"/>
        <param name="save_data" value="true" type="bool"/>
        <param name="save_data_path" value="$(find ethercat_ros_configurator)/test_data" type="string"/>
    </node> -->
</launch>